// SearchInput
.SearchInput {
    // background-color: transparent !important;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #B5B5B6;

    &:focus {
        border-color: #ff3e5b !important;
    }

    & input {
        height: 32px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: transparent !important;

        &:focus {
            border-color: #ff3e5b;
            box-shadow: none;
        }
    }

    & button {
        background-color: transparent;
        box-shadow: none;
        color: #ff3e5b;
        padding: 5px 12px !important;

        &:hover {
            background-color: transparent !important;
            color: inherit !important;
        }

        &:active {
            box-shadow: none !important;
        }
    }
}

.SearchInput.DarkSearchInput {
    background-color: #0B0B0C;
    border: 1px solid #342c2c;

    & input {
        color: #fff !important;

        &::placeholder {
            color: #8E8585;
        }
    }
}